#naslov{
    -fx-font-size: 15px;
}
#gridMain{
    -fx-background-color: #e6e6e6;
}
#welcomeMsg{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.poljeIspravno{
    -fx-background-color: lightgreen;
}
.poljeNijeIspravno{
    -fx-background-color: lightpink;
}
#tagsLbl{
    -fx-font-size: 15px;
}
#gridSWWMain{
    -fx-background-color: #e6ffff;
}